numpy
pandas
matplotlib
transformers 
tqdm
accelerate 
bitsandbytes 
langchain 
sentence-transformers 
openpyxl
datasets 
langchain-community 
langchain-huggingface
ragatouille
peft
faiss-cpu
faiss-gpu